name: Test SDK

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: make generate
      - run: make build
      - run: make test
        env:
          CI: true

  publish:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v1
      - run: npm install
      - run: npm publish --dry-run
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}

  openapi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Start backend
        run: make startbackend
      - run: make clean
      - run: make download
      - run: make generate
      - name: Test no changes in API
        run: test -z "$(git status --porcelain .)"
      - run: make logsbackend
        if: failure()
